# Build artifacts
nft-staking/target
nft-staking/output
nft-staking/wasm
nft-staking/build

tro-staking/target
tro-staking/output
tro-staking/wasm
tro-staking/build

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.vs/

# OS specific files
.DS_Store
Thumbs.db